$space-x-small: 3px;
$space-small: 6px;
$space-pre-base: 9px;
$space-base: 12px;
$space-large: 18px;
$space-x-large: 24px;
$space-xx-large: 32px;
$space-xxx-large: 60px;

$font-size-small: 14px;
$font-size-base: 18px;
$font-size-large: 24px;
$font-size-x-large: 32px;

$font-weight-base: 400;
$font-weight-bold: 500;

$color-white: #ffffff;
$color-grey-200: #eeeeee;
$color-grey-300: #cfc9c4;
$color-grey-400: #8a8988;
$color-grey-800: #282c34;
$color-blue: #5ec4b2;

$xs: 320px;
$sm: 640px;
$md: 1024px;
$lg: 1280px;

$columns-in-row-xs: 2;
$columns-in-row-sm: 4;
$columns-in-row-md: 5;
$columns-in-row-lg: 10;

$border-radius-small: 2px;
$border-radius-base: 3px;

$logo-size: 40px;

@mixin media-breakpoint-up($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin media-breakpoint-down($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin media-breakpoint-between($down, $up) {
  @media (min-width: $down) and (max-width: $up) {
    @content;
  }
}

@mixin inline-space($space) {
  &:not(:last-child) {
    margin-right: $space;
  }
}

@mixin stack-space($space) {
  &:not(:last-child) {
    margin-bottom: $space;
  }
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.layout {
  background-color: $color-grey-200;
  min-height: 100vh;
  min-width: 100vw;
  &__content {
    padding: $space-x-large;
    padding-top: calc(#{$logo-size} + #{$space-large} * 2 + #{$space-x-large});
    @include media-breakpoint-up($md) {
      padding: $space-xxx-large;
      padding-top: calc(#{$logo-size} + #{$space-large} * 2 + #{$space-xxx-large});
    }
  }
}

.app-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $space-large $space-xx-large;
  background-color: $color-grey-800;
}

.logo {
  display: flex;
  align-items: center;
  &__image {
    width: $logo-size;
    height: $logo-size;
    background-color: transparent;
    margin-right: $space-base;
  }
  &__text {
    color: $color-grey-200;
  }
}

.button {
  text-decoration: none;
  padding: $space-small;
  border-radius: $border-radius-base;
  border: 1px solid $color-grey-800;
  color: $color-grey-800;
  cursor: pointer;
  &--white {
    border: 2px solid $color-grey-400;
    color: $color-grey-200;
  }
}


.content-header {
  color: $color-grey-400;
  font-weight: $font-weight-bold;
  margin-bottom: $space-large;
}

.movie-table {
  &__grid {
    display: flex;
    flex-wrap: wrap;
    margin: -$space-small;
    margin-bottom: $space-x-large;
  }
  &__not-found {
    padding: $space-small;
  }
}

.movie-brick {
  box-sizing: border-box;
  padding: $space-small;
  width: calc(100% / #{$columns-in-row-xs});
  @include media-breakpoint-up($sm) {
    width: calc(100% / #{$columns-in-row-sm});
  }
  @include media-breakpoint-up($md) {
    width: calc(100% / #{$columns-in-row-md});
  }
  @include media-breakpoint-up($lg) {
    width: calc(100% / #{$columns-in-row-lg});
  }
  &__image {
    width: 100%;
    height: 100%;
    border-radius: $border-radius-base;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    cursor: pointer;
    &:hover{
      box-shadow: 0 0 15px rgba(0,0,0,0.7);
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  &__block {
    display: flex;
    border: 1px solid $color-grey-300;
    border-radius: $border-radius-base;
  }
  &__button {
    padding: $space-base;
    color: $color-grey-400;
    cursor: pointer;
    @include media-breakpoint-between($xs, $sm) {
      font-size: $font-size-small;
      padding: $space-pre-base;
    }
    &:not(:last-child) {
      border-right: 1px solid $color-grey-300;
    }
    &:hover {
      box-shadow: 0 0 2px rgba(0,0,0,0.25);
    }
    &--blue {
      color: $color-blue;
    }
    &--active {
      font-weight: $font-weight-bold;
    }
  }
}

.movie-modal {
  position: fixed;
  top: calc(#{$logo-size} + #{$space-large} * 2);
  left: 0;
  width: 100%;
  height: calc(100vh - (#{$logo-size} + #{$space-large} * 2));
  background-color: rgba(0,0,0,0.95);
  color: $color-grey-200;
  &__container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
  }
  &__image {
    width: 20%;
    height: 50%;
    margin-right: 5%;
    border-radius: $border-radius-base;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
  }
  &__content {
    width: 75%;
  }
}

.modal-content {
  width: 75%;
  position: relative;
  &__button {
    position: absolute;
    right: 0;
    top: 0;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  &__title {
    font-size: $font-size-x-large;
    font-weight: $font-weight-bold;
    margin-bottom: $space-large;
  }
  &__data {
    display: flex;
    align-items: center;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    margin-bottom: $space-xx-large;
  }
  &__data-elem {
    @include inline-space($space-large);
  }
  &__vertical-divider {
    width: 2px;
    height: 1.5em;
    background-color: $color-grey-800;
    @include inline-space($space-large);
  }
  &__divider {
    height: 2px;
    width: 100%;
    background-color: $color-grey-800;
    @include stack-space($space-xx-large);
  }
  &__description {
    margin-bottom: $space-xx-large;
  }
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  padding: $space-xxx-large;
  margin-bottom: $space-xxx-large;
}
