@import 'variables.scss';

.movie-modal {
  position: fixed;
  overflow: auto;
  top: calc(#{$logo-size} + #{$space-large} * 2);
  left: 0;
  width: 100%;
  height: calc(100vh - (#{$logo-size} + #{$space-large} * 2));
  background-color: rgba(0,0,0,0.95);
  color: $color-grey-200;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  &::-webkit-scrollbar { width: 0; }
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  padding: $space-x-large;
  margin-bottom: $space-x-large;
  @include media-breakpoint-up($md) {
    padding: $space-xxx-large;
    margin-bottom: $space-xx-large;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: $space-x-large;
  padding-right: $space-x-large;
  @include media-breakpoint-up($md) {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: $space-xxx-large;
  }
  &__top-right-block {
    position: relative;
    flex: 1;
  }
  &__top-block {
    display: flex;
    justify-content: center;
    @include media-breakpoint-down($md) {
      @include stack-space($space-large);
    }
  }
  &__image {
    width: 40%;
    height: 60%;
    border-radius: $border-radius-base;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
    @include inline-space($space-base);
    @include media-breakpoint-up($sm) {
      width: 30%;
      height: 45%;
      @include inline-space($space-xxx-large);
    }
    @include media-breakpoint-up($md) {
      width: 20%;
      height: 30%;
      @include inline-space($space-xxx-large);
    }
  }
  &__star-icon {
    width: 1.5em;
    height: 1.5em;
  }
  &__button {
    position: absolute;
    right: 0;
    top: 0;
  }
  &__title {
    font-size: $font-size-x-large;
    font-weight: $font-weight-bold;
    margin-bottom: $space-large;
    @include media-breakpoint-up($md) {
      $button-width: 120px;
      padding-right: $button-width;
    }
    @include media-breakpoint-down($md) {
      font-size: $font-size-large;
    }
    &--desktop {
      @include media-breakpoint-down($md) {
        display: none;
      }
    }
  }
  &__divider {
    height: 2px;
    width: 100%;
    background-color: $color-grey-800;
    @include stack-space($space-xx-large);
    @include media-breakpoint-down($md) {
      @include stack-space($space-large);
    }
    &--desktop {
      @include media-breakpoint-down($md) {
        display: none;
      }
    }
  }
  &__description {
    margin-bottom: $space-xx-large;
    @include media-breakpoint-down($md) {
      margin-bottom: $space-large;
    }
    &--desktop {
      @include media-breakpoint-down($md) {
        display: none;
      }
    }
  }
  &__bottom-block {
    margin-bottom: $space-xx-large;
    @include media-breakpoint-up($md) {
      display: none;
    }
  }
  &__movie-info {
    display: flex;
    align-items: center;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    @include media-breakpoint-up($md) {
      margin-bottom: $space-xx-large;
    }
    @include media-breakpoint-down($md) {
      flex-direction: column;
      align-items: flex-start;
      font-size: $font-size-base;
      font-weight: $font-weight-bold;
    }
  }
  &__movie-info-elem {
    @include inline-space($space-large);
    @include media-breakpoint-down($md) {
      @include stack-space($space-small);
    }
  }
  &__movie-info-elem-label {
    @include media-breakpoint-down($md) {
      font-weight: $font-weight-tiny;
    }
    @include media-breakpoint-up($md) {
      display: inline;
    }
  }
  &__movie-info-elem-text {
    @include media-breakpoint-up($md) {
      display: inline;
    }
  }
  &__vertical-divider {
    width: 2px;
    height: 1.5em;
    background-color: $color-grey-800;
    @include inline-space($space-large);
    @include media-breakpoint-down($md) {
      display: none;
    }
  }
}
