@import 'variables.scss';

.pagination {
  display: flex;
  justify-content: center;
  &__block {
    display: flex;
    border: 1px solid $color-grey-300;
    border-radius: $border-radius-base;
  }
  &__button {
    padding: $space-base;
    color: $color-grey-400;
    cursor: pointer;
    @include media-breakpoint-down($sm) {
      font-size: $font-size-small;
      padding: $space-pre-base;
    }
    &:not(:last-child) {
      border-right: 1px solid $color-grey-300;
    }
    &:hover {
      box-shadow: 0 0 2px rgba(0,0,0,0.25);
    }
    &--blue {
      color: $color-blue;
    }
    &--active {
      font-weight: $font-weight-bold;
    }
  }
}
